@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Genseki gothic TW-B';
  src: url(../public/font/GenSekiGothic-B.ttc);
}
@font-face {
  font-family: 'Genseki gothic TW-H';
  src: url(../public/font/GenSekiGothic-H.ttc);
}
@font-face {
  font-family: 'Genseki gothic TW-L';
  src: url(../public/font/GenSekiGothic-L.ttc);
}
@font-face {
  font-family: 'Genseki gothic TW-M';
  src: url(../public/font/GenSekiGothic-M.ttc);
}
@font-face {
  font-family: 'Genseki gothic TW-R';
  src: url(../public/font/GenSekiGothic-R.ttc);
}